html, body {
    height: 100%;
    margin: 0;
  }

.custom{
    height: 87vh;
}

.textarea{
       height:75px;
       margin: 10px 2.5%;
       width: 65%;
       padding: 15px;
       border-radius: 3px;
   }


.send{
    color: #7ac5ef;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 700;
    float: right;
    margin-right: 2.5%;
    cursor: pointer;
    user-select:none;
}

.box{
    color:black;
    background: #DDE0E3;
    text-align: center;
    font: 200
}

.styleMsg{
    border-color: #ccc;
    background-color: #ddd;
    border-radius: 4px;
    padding: 10px
}