.custom{
    background: url('https://preview.ibb.co/cKJffe/1920x1080_data_out_234_36404400_wallpaper_blur.jpg');
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: fixed;
    
}